#top_section {
    width: 100%;
    height: 8vh;
    /* border: 1px;
    border-style: solid; */
    align-items: middle;
    text-align: center;
    justify-content: center;
}

.top_title {
    display: inline-block;
    width: 25%;
}

#top_left {
    background-color: #1A38BE;
    color: white;
    font-size: 25px;
    height: 4vh;
    margin-top: 1vh;
    padding-top: 1vh;
    vertical-align: middle;
}

#top_left h2 {
    align-items: center;
    text-align: center;
    justify-content: center;
}

#top_right {
    background-color: #BF1F3C;
    color: white;
    font-size: 25px;
    height: 4vh;
    margin-top: 1vh;
    padding-top: 1vh;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#top_right h2 {
    align-items: center;
    text-align: center;
    justify-content: center;
}

#section_article {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 91%;
    /* border: 1px;
    border-style: solid; */
}

#section_article .side_box {
    display: flex;
    flex-direction: column;
    width: 49.9%;
    height: 100%;
    display: inline-block;
    /* border: 1px;
    border-style: solid; */
}

#section_article .side_box:first-child {
    margin-right: 0.15%;
}

#title_area {
    display: inline-flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    /* border: 0.1px;
    border-style: solid; */
}

#title_area div {
    border-radius: 4px;
}

#title_area div:nth-child(2) {
    border-style: none;
    border: 0px;
}

.title_infos {
    font-size: 22px;
    display: inline-flex;
    flex-direction: column;
    height: 95%;
    width: 25%;
    /* border: 1px;
    border-style: solid; */
    align-items: center;
    text-align: center;
    justify-content: center;
}

#map_area {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;

    align-items: center;
    justify-content: center;
    /*
    background-position: center;
    background-origin: content-box;
    background-image: url("/img/base.png");
    background-repeat: no-repeat;    
    */
}

#map_area img {
    position: relative;
    width: 80%;
    height: 90%;
}

#chart_area {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    /* border: 0.1px;
    border-style: solid; */
}

#chart_info {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 15%;
    width: 95%;
    border: 0.1px;
    border-style: solid;
    padding-left: 5%;
    align-items: center;
    justify-content: center;
}

#chart_info div {
    width: 30%;
}

.chart_title {
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}

.chart_title:first-child {
    text-align: left;
    font-size: 22px;
    font-weight: 700;
}

.chart_title:last-child {
    text-align: left;
    padding-right: 10px;
}

.chart_title:nth-last-child(2) {
    text-align: center;
    padding-right: 10px;
}

.title_infos {
    display: inline-flex;
    flex-direction: column;
    height: 95%;
    width: 25%;
    border: 1px;
    border-style: solid;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#chart_result {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    border: 0.1px;
    border-style: solid;
}

#chart_graph {
    position: absolute;
}

#value_area {
    display: flex;
    flex-direction: column;
    height: 24.5%;
    width: 100%;
    /* border: 0.1px;
    border-style: solid; */
    background-color: white;
    text-align: center;
}

#searching_area {
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 100%;
    /* border: 0.1px;
    border-style: solid; */
}

#searching_area div {
    display: inline-flex;
    flex-direction: row;
    height: 33%;
    width: 80%;
    padding-left: 5%;
    padding-right: 15%;
    border: 0.1px;
    border-style: solid;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

#searching_area div h2 {
    font-size: 20px;
}

#searching_area div label {
    font-size: 20px;
}

#btn_search {
    width: 13%;
    height: 80%;
    border-radius: 4px;
    border-style: solid;
    border-width: 1.5px;
    text-align: center;
    font-weight: 800;
}

#result_area {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 84.5%;
    width: 100%;
    /* border: 0.1px;
    border-style: solid; */
    background-color: white;
}

#search_numbers h2 {
    font-size: 20px;
}

#search_numbers h2:last-child {
    margin-right: 2%;
}

#date_range {
    display: inline-block;
    align-items: center;
}

#date_range h2 {
    margin-left: 20%;
}

#date_range input {
    width: 20%;
    height: 70%;
    font-weight: 1000;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
}

/*tablulator css*/
.tabulator-col-title {
    text-align: center;
    font-size: 16px;
}